<project name="BuildConfig" xmlns:maven="urn:maven-ant">
  <!-- Get the root directory of the project by looking at the directory enclosing this file. -->
  <dirname property="rootdir" file="${ant.file.BuildConfig}"/>
  <!-- Set the current Whiley version -->
  <property name="version" value="0.4.0-SNAPSHOT"/>
  <!-- Load the Maven Ant tasks so that we can work with Maven repositories. -->
  <typedef uri="urn:maven-ant"
           classpath="${rootdir}/lib/maven-ant-tasks-2.1.3.jar"
           resource="org/apache/maven/artifact/ant/antlib.xml"/>

  <!-- Paths to common DIRs -->
  <property name="LIB_DIR" value="${rootdir}/lib/"/>
  <property name="DIST_DIR" value="${rootdir}/dist/"/>

  <property name="WYBS_DIR" value="${rootdir}/modules/wybs/"/>
  <property name="WYC_DIR"  value="${rootdir}/modules/wyc/"/>
  <property name="WYIL_DIR" value="${rootdir}/modules/wyil/"/>
  <property name="WYCS_DIR" value="${rootdir}/modules/wycs/"/>
  <property name="WYRT_DIR" value="${rootdir}/modules/wyrt/"/>

  <!-- Paths to common JARs -->
  <property name="JASM_JAR" value="${LIB_DIR}/jasm-v0.1.7.jar"/>
  <property name="WYRL_JAR" value="${LIB_DIR}/wyrl-v0.4.4.jar"/>

  <!-- Set the classpath for Junit and its dependencies -->
  <maven:dependencies pathId="junit.classpath">
    <dependency groupId="junit" artifactId="junit" version="4.12"/>
  </maven:dependencies>
</project>
